<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Registration</h1>
    <a href="../"><span class="tag tag-primary">Back</span></a>
    <form class="form-signin" method="post" action="./registration/">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">User information</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus autocomplete="off">
      </br></br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required autocomplete="off">
      </br></br>
      <label for="inputFirstName" class="sr-only">First Name</label>
      <input type="text" id="inputFirstName" name="first_name" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputLastName" class="sr-only">Last Name</label>
      <input type="text" id="inputLastName" name="last_name" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputAddress" class="sr-only">Address</label>
      <input type="text" id="inputAddress" name="address" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputCity" class="sr-only">City</label>
      <input type="text" id="inputCity" name="city" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputState" class="sr-only">State</label>
      <input type="text" id="inputState" name="state" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputZip" class="sr-only">Zip</label>
      <input type="text" id="inputCity" name="zip" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputPhone" class="sr-only">Phone</label>
      <input type="text" id="inputPhone" name="phone_1" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputSSN" class="sr-only">SSN</label>
      <input type="text" id="inputSSN" name="ssn" class="form-control" autocomplete="off">
      </br></br>
      <label for="inputDOB" class="sr-only">DOB</label>
      <input type="date" id="inputDOB" name="dob" class="form-control" autocomplete="off">
      </br></br>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</body>
</html>